@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Rubik:wght@700&display=swap');

.loading-page {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #3D644F, #2C4638, #0f2027);

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  color: #191654;
  z-index: 1000;
}

#svg {
  height: 300px;
  width: 300px;
  margin-left: 80px;
  stroke: white;
  fill-opacity: 0;
  stroke-width: 3px;
  stroke-dasharray: 4500;
  animation: draw 8s ease;
  z-index: 1000;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.name-container {
  height: 30px;
  overflow: hidden;
}

.logo-name {
  color: #fff;
  font-size: 20px;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: bolder;
}
  
  
  


















* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #18181B;
}






.header {
    position: fixed;
    user-select: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    padding: 18px 120px;
    background: rgba(24, 24, 27, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    word-spacing: 14px;
    border: 1px solid rgba(38, 38, 38, 0.4)
}

.logo {
    height: 47px;
    width: 56px;
}

.navbar a {
    position: relative;
    font-size: 24px;
    color: #E4E4E4;
    font-weight: 500;
    text-decoration: none;
    padding: 12px;
    border-radius: 15px;
}

.login{
    font-size: 24px;
    color: #E4E4E4;
    font-weight: 500;
    text-decoration: none;
    display: flex;
}

.navbar a:hover{
    background: #212124;
    width: 15%;
    
    transition: .5s;
}

.navbar a.active {
    color: #73C398;
    text-shadow: 0px 0px 2px #73C398;
}





/* BACKGROUND */

.background-all {
  position: absolute;
}

.background {
  width: auto;
  height: 98vh;
  position: relative;
  z-index: -100;
}

.bg {
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background-logo {
  background-size: cover;
}

.blogo {
  width: 65%;
  margin-top: -150vh;
  margin-left: 71vh;

}


  
.main-text {
  font-size: 18vh;
  color: white;
  font-family: 'Rubic';
  margin-left: 10vh;
  margin-top: -85vh;
  user-select: none;
}

.main-text-1 {
  color: #81D8A9;
}

.main-text-2 {
  margin-left: 22vh;
}




.box p {
  color: #ABABAE;
  user-select: none;
  margin: 25px;
}



.box1 {
  height: 10vh;
  width: 23.5vh;
  background-color: rgba(1, 1, 1, 0.1);
  opacity: 100%;
  border-radius: 25px;
  box-shadow: inset 0px 3px 32.9px -11px rgba(68, 169, 114, 1);
  margin-left: 180vh;
  margin-top: -50vh;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  position: absolute;
  animation: levitate-animation1 2s ease-in-out infinite alternate;
  transform-origin: center;
  transform: translate3d(0, 0, 0);
}

@keyframes levitate-animation1 {
  0% {
  transform: translate3d(0, 0, 0);
  }
  100% {
  transform: translate3d(0, -5px, 0);
  }
}

.cercle1 {
  height: 5vh;
  width: 5vh;
  background-color: #44A972;
  border-radius: 500px;
  margin-left: 193vh;
  margin-top: -43vh;
  filter: blur(15px);
  position: absolute;
  animation: levitate-animation-c1 2s ease-in-out infinite alternate;
  transform-origin: center;
  transform: translate3d(0, 0, 0);
}

@keyframes levitate-animation-c1 {
  0% {
  transform: translate3d(0, 0, 0);
  }
  100% {
  transform: translate3d(0, -5px, 0);
  }
}

.cercle2 {
  height: 5vh;
  width: 5vh;
  background-color: rgba(171, 171, 174, 1);
  border-radius: 500px;
  margin-left: 25vh;
  margin-top: -53vh;
  filter: blur(15px);
  position: absolute;
  animation: levitate-animation-c2 2s ease-in-out infinite alternate;
  transform-origin: center;
  transform: translate3d(0, 0, 0);
}

@keyframes levitate-animation-c2 {
  0% {
  transform: translate3d(0, 0, 0);
  }
  100% {
  transform: translate3d(0, -5px, 0);
  }
}

.cercle3 {
  height: 5vh;
  width: 5vh;
  background-color: rgba(115, 195, 152, 1);
  border-radius: 500px;
  margin-left: 45vh;
  margin-top: 12vh;
  filter: blur(15px);
  position: absolute;
  animation: levitate-animation-c3 2s ease-in-out infinite alternate;
  transform-origin: center;
  transform: translate3d(0, 0, 0);
}

@keyframes levitate-animation-c3 {
  0% {
  transform: translate3d(0, 0, 0);
  }
  100% {
  transform: translate3d(0, -5px, 0);
  }
}

.box2 {
  height: 10vh;
  width: 23.5vh;
  background-color: rgba(1, 1, 1, 0.1);
  opacity: 100%;
  border-radius: 25px;
  box-shadow: inset 0px 3px 32.9px -11px rgba(171, 171, 174, 1);
  margin-left: 10vh;
  margin-top: -60vh;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  position: absolute;
  animation: levitate-animation2 2s ease-in-out infinite alternate;
  transform-origin: center;
  transform: translate3d(0, 0, 0);
}

@keyframes levitate-animation2 {
  0% {
  transform: translate3d(0, 0, 0);
  }
  100% {
  transform: translate3d(0, -5px, 0);
  }
}

.box3 {
  height: 10vh;
  width: 23.5vh;
  background-color: rgba(1, 1, 1, 0.1);
  opacity: 100%;
  border-radius: 25px;
  box-shadow: inset 0px 3px 32.9px -11px rgba(115, 195, 152, 1);
  margin-left: 30vh;
  margin-top: 5vh;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  position: absolute;
  animation: levitate-animation3 2s ease-in-out infinite alternate;
  transform-origin: center;
  transform: translate3d(0, 0, 0);
}

@keyframes levitate-animation3 {
  0% {
  transform: translate3d(0, 0, 0);
  }
  100% {
  transform: translate3d(0, -5px, 0);
  }
}







.quality_title {
  font-size: 50px;
  color: #FED86C;
  font-family: 'Nunito', sans-serif;
}

.quality_text {
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.quality {
  margin-top: 300px;
  text-align: center;
  padding: 100px 651px;
}





.deliver_title {
  font-size: 50px;
  color: #FFB454;
  font-family: 'Nunito', sans-serif;
}

.deliver_text {
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.deliver {
  text-align: center;
  padding: 100px 651px;
}







.support_title {
  font-size: 50px;
  color: #9BC4F9;
  font-family: 'Nunito', sans-serif;
}

.support_text {
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.support {
  text-align: center;
  padding: 100px 651px;
}





/* FOOTER */

footer{
  background-color: #212124;
  border-color: #262626;
  height: 200px;
  width: 100%;
  padding: 46px 47px;
}



.footer_logo {
  width: 36px;
  height: 30px;
}

.footer_buttons{
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  color: white;
  text-decoration: none;
  word-spacing: 12px;
}

.footer_buttons a{
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  color: white;
  text-decoration: none;
  word-spacing: 12px;
  line-height: 50px;
}

.footer_text {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  color: #ABABAE;
}



.discord{
  width: 39.64px;
  height: 30px;
  
}

.octopus {
  width: 43px;
  height: 43px;
}

.forum {
  width: 36px;
  height: 35.44px;
}

.footer_links {
  display: flex;
  align-items: center;
  width: 100%;
}

.footer_links1 {
  text-align: right;
  width: 100%;
  word-spacing: 10px;
  /* vertical-align: middle; */
}


